*
{
    box-sizing: border;
    margin: 0;
    padding: 0;
}

body
{
    /* background-color: rgba(3, 19, 48, 0.747); */
    background-color: rgba(0, 0, 0, 0.836);
    color: rgba(147, 231, 12, 0.863);
    position: relative;
}

.arrayBar
{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    top: 30px;
    left: 230px;
}
.arrayBar div
{
    width: 5px;
    margin: 0 1px;
}
.white
{
    background-color: white;
}
.black
{
    background-color:  rgba(255, 166, 0, 0.788);
}
.green
{
    background-color: chartreuse;
}

.btnContainer
{
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.btnClass
{
    outline: none;
    border:none;
    margin: 3px 0;
    height: 23px;
    border-radius: 5px;
    color:black;
    background-color: orange;
    transition: all 100ms ease;
}
.btnClass:hover
{
    transform: scale(0.96);
    background-color: orangered;
}

.btnDisabledClass 
{
    outline: none;
    border:none;
    margin: 3px 0;
    height: 23px;
    border-radius: 5px;
    color:black;
    background-color: rgba(141, 92, 0, 0.938);
}